<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><strong>Data Name</strong></th>
      <th><strong>Data</data></strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Title</th>
      <td>
        <%= @article.title %>
      </td>
    </tr>
    <tr>
      <th>Writer</th>
      <td>
        <%= @article.writer %>
      </td>
    </tr>
    <tr>
      <th>Contents</th>
      <td>
        <%= @article.contents %>
      </td>
    </tr>
    <tr>
      <th>MemberOnly</th>
      <td>
        <%= @article.memberOnly %>
      </td>
    </tr>
    <tr>
      <th>Created at</th>
      <td>
        <%= @article.created_at %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
