<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample6">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
  </div>
  <div class="collapse navbar-collapse" id="navbarEexample6">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Article', articles_path %></li>
      <li><%= link_to 'User', users_path %></li>
    </ul>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Writer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.writer %></td>
        <td><%= link_to 'Show', article %></td>
      </tr>
    <% end %>
  </tbody>
</table>
