<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><strong>Data Name</strong></th>
      <th><strong>Data</data></strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Name</th>
      <td>
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td>
        <%= @user.email %>
      </td>
    </tr>
    <tr>
      <th>Password digest</th>
      <td>
        <%= @user.password_digest %>
      </td>
    </tr>
    <tr>
      <th>Created at</th>
      <td>
        <%= @user.created_at %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
